In [6]:
import pandas as pd
from parsers.indexParser import *
from parsers.dataParser import *
from parsers.senseIndexParser import *

In [7]:
extension = 'noun'

In [8]:
indexdf = createIndexDF(f'dict/index.{extension}')

In [9]:
datadf = createDataDF(f'dict/data.{extension}')

In [10]:
indexdf

,lemma,pos,synset_cnt,p_cnt,ptr_symbol,sense_cnt,tagsense_cnt,synset_offset
0,'hood,n,1,2,"[@, ;]",1,0,[08641944]
1,'s_gravenhage,n,1,2,"[@, #p]",1,0,[08950407]
2,0,n,1,1,@,1,1,13742358
3,1,n,1,2,"[@, ~]",1,1,[13742573]
4,1-dodecanol,n,1,1,@,1,0,14930670
...,...,...,...,...,...,...,...,...
117792,zymology,n,1,1,@,1,0,06080361
117793,zymolysis,n,1,3,"[@, ~, +]",1,0,[13575433]
117794,zymosis,n,2,4,"[@, ~, +, ;]",2,0,"[13575433, 13575226]"
117795,zymurgy,n,1,1,@,1,0,06080361
117796,zyrian,n,1,1,@,1,0,06957042