In [1]:
import pandas as pd
from parsers.indexParser import *
from parsers.dataParser import *
from parsers.senseIndexParser import *

In [2]:
extension = 'noun'

In [3]:
indexdf = createIndexDF(f'dict/index.{extension}')

In [4]:
datadf = createDataDF(f'dict/data.{extension}')

In [5]:
indexdf

,lemma,pos,synset_cnt,p_cnt,ptr_symbol,sense_cnt,tagsense_cnt,synset_offset
0,'hood,n,1,2,"[@, ;]",1,0,[08641944]
1,'s_gravenhage,n,1,2,"[@, #p]",1,0,[08950407]
2,0,n,1,1,[@],1,1,[13742358]
3,1,n,1,2,"[@, ~]",1,1,[13742573]
4,1-dodecanol,n,1,1,[@],1,0,[14930670]
...,...,...,...,...,...,...,...,...
117792,zymology,n,1,1,[@],1,0,[06080361]
117793,zymolysis,n,1,3,"[@, ~, +]",1,0,[13575433]
117794,zymosis,n,2,4,"[@, ~, +, ;]",2,0,"[13575433, 13575226]"
117795,zymurgy,n,1,1,[@],1,0,[06080361]
117796,zyrian,n,1,1,[@],1,0,[06957042]

In [6]:
datadf

,synset_offset,lex_filenum,ss_type,w_cnt,word with lex_id,p_cnt,ptr,gloss
0,00001740,03,n,01,"[[entity, 0]]",003,"[[~, 00001930, n, 0000], [~, 00002137, n, 0000...",that which is perceived or known or inferred t...
1,00001930,03,n,01,"[[physical_entity, 0]]",007,"[[@, 00001740, n, 0000], [~, 00002452, n, 0000...",an entity that has physical existence
2,00002137,03,n,02,"[[abstraction, 0], [abstract_entity, 0]]",010,"[[@, 00001740, n, 0000], [+, 00692329, v, 0101...",a general concept formed by extracting common ...
3,00002452,03,n,01,"[[thing, 0]]",009,"[[@, 00001930, n, 0000], [~, 04347225, n, 0000...",a separate and self-contained entity
4,00002684,03,n,02,"[[object, 0], [physical_object, 0]]",039,"[[@, 00001930, n, 0000], [+, 00532607, v, 0105...",a tangible and visible entity; an entity that ...
...,...,...,...,...,...,...,...,...
82110,15299225,28,n,01,"[[study_hall, 0]]",002,"[[@, 15113229, n, 0000], [#p, 15203229, n, 0000]]",a period of time during the school day that is...
82111,15299367,28,n,03,"[[Transfiguration, 0], [Transfiguration_Day, 0...",003,"[[@, 15184170, n, 0000], [;c, 06226057, n, 000...",(Christianity) a church festival held in comme...
82112,15299585,28,n,01,"[[usance, 0]]",002,"[[@, 15113229, n, 0000], [;c, 01090446, n, 0000]]",the period of time permitted by commercial usa...
82113,15299783,28,n,01,"[[window, 0]]",001,"[[@, 15113229, n, 0000]]",the time period that is considered best for st...
82114,15300051,28,n,05,"[[9/11, 0], [9-11, 0], [September_11, 0], [Sep...",003,"[[#p, 15212739, n, 0000], [@i, 01246697, n, 00...",the day in 2001 when Arab suicide bombers hija...